.nav-button {
    display: inline;
    cursor: pointer;
}

.bar,
.bar1,
.bar2 {
    width: 60px;
    height: 8px;
    background-color: var(--color-light);
    margin: 10px;
    border-radius: 50px;
    transition: var(--main-trs);
}

.change .bar {
    transform: translate(0, 5px) rotate(-45deg);
}

.change .bar1 {
    opacity: 0;
    width: 0;
}

.change .bar2 {
    transform: translate(0, -30px) rotate(45deg);
}

.nav-button {
    display: none;
}